<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <link rel="icon" href="/template/static/logo.png" type="image/png"/>
    <style>
        @import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800&display=swap");
    </style>
    <link rel="stylesheet" href="/template/static/style.css"/>
    <title>Behance Project Downloader</title>
    <!-- Google tag (gtag.js) -->
<!--    <script async src="https://www.googletagmanager.com/gtag/js?id=G-3CLRKZENZ3"></script>-->
<!--    <script>-->
<!--        window.dataLayer = window.dataLayer || [];-->
<!--        function gtag(){dataLayer.push(arguments);}-->
<!--        gtag('js', new Date());-->

<!--        gtag('config', 'G-3CLRKZENZ3');-->
<!--    </script>-->
</head>
<body>
<div class="cover">
    <h4>Behance Project Downloader</h4>
    <form action="/result" method="post">
        <input
                type="text"
                name="url"
                placeholder="Enter the url here..."
                required
        />
        <button>Submit</button>
    </form>
    <p class="built-with">Built with <span>❤</span> by <a target="_blank" rel="noreferrer"
                                                          href="https://promisefemi.vercel.app/">Promise</a></p>
    <p class="built-with"><a target="_blank" rel="noreferrer"
                                                          href="https://www.buymeacoffee.com/promisefemi">Buy me coffee</a></p>

</div>
</body>
</html>
